@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

header {
    width: 400px; height: 100%;
    position: fixed;
    top: 0px; left: 0px;
    background: linear-gradient(45deg, aqua, royalblue);

    h1 {
        font: bold 50px/1 "orbitron";
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        left: 50px; top: 50%;
        transform: translateY(-250%);

        &::after {
            content: "";
            display: block;
            width: 150px;
            height: 2px;
            background: #fff;
            margin-top: 20px;
        }

        &::before {
            content: "UI/UX DEVELOPMENT";
            font: 14px/1 "orbitron";
            color: #fff;
            letter-spacing: 2px;
            position: absolute;
            left: 0px; top: 90px;
        }
    }
}

main {
    height: 600px;
    margin-left: 400px;
    // border: solid red;
    box-sizing: border-box;
    padding: 20px;
}