@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

header {
    width: 400px; height: 100%;
    position: fixed;
    top: 0px; left: 0px;
    background: linear-gradient(45deg, rgb(240, 224, 138), rgb(251, 209, 131));

    h1 {
        font: bold 50px/1 "orbitron";
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        left: 50px; top: 50%;
        transform: translateY(-250%);

        &::after {
            content: "";
            display: block;
            width: 150px;
            height: 2px;
            background: #fff;
            margin-top: 20px;
        }

        &::before {
            content: "UI/UX DEVELOPMENT";
            font: 14px/1 "orbitron";
            color: #fff;
            letter-spacing: 2px;
            position: absolute;
            left: 0px; top: 90px;
        }
    }

    ul {
        position: absolute; left: 40px; bottom: 100px;
    }

    li {
        float: left;
        margin-right: 10px;

        a {
            font-size: 20px;
            color: #fff;
        }

        span {
            transform: scale(0.7);
            display: inline-block;
            transform-origin: left center;
        }
    }
}

main {
    height: 600px;
    margin-left: 400px;
    // border: solid red;
    box-sizing: border-box;
    padding: 20px;

    ul {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 20px;

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        li {
            float: right;
            margin-right: 20px;
            width: 100px;
            height: 26px;

            a {
                display: block;
                width: 100%; height: 100%;
                font: bold 7px/26px "orbitron";
                color: #aaa;
                letter-spacing: 1px;
                text-align: center;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, .05);
                border-radius: 5px;

            }
            &.on a {
                background: linear-gradient(45deg, rgb(241, 203, 168), rgb(238, 183, 131));
                color: #fff;
                box-shadow: 0px 5px 20px rgb(224, 207, 167);
            }
        }
    }
}